[submodule "Bounce2"]
	path = Bounce2
	url = https://github.com/thomasfredericks/Bounce2.git
[submodule "consthash"]
	path = consthash
	url = https://github.com/ogatatsu/consthash.git
[submodule "etl"]
	path = etl
	url = https://github.com/ETLCPP/etl.git
